<div class="content-wrapper">

  <p>{{ heading }}</p>
  Page Number: {{ pageNo }}

  <!-- Click Function -->
  <button (click)="changePageNumber()">Change my Page Number</button>
  <br/>

  <app-home [myName] = "childName" (valueFromChild)="receiveData($event)"></app-home>

  <!-- Structural Directives In Angualar -->

  <span *ngIf="showItem == 1"> This is Item 1</span>
  <span *ngIf="showItem == 2"> This is Item 2</span>
  <br/><br/><br/>
  <ng-container [ngSwitch] = "showItem">
  <span *ngSwitchCase="1"> Example of Switch Case Item 1</span>
  <span *ngSwitchCase="2"> Example of Switch Case Item 2</span>
  </ng-container>

  <br/><br/>

  <input type="text" [(ngModel)]="xyz"/>

  <button (click)="addProduct()"> Add Item</button>

  <app-home></app-home>

  <ul *ngFor="let i of productList">
    <li>{{ i }}</li>
  </ul>


  <p>Child Name</p>
  <input type="text" [(ngModel)]="childName" />

  <p>Value From Child: {{ childData }}</p>
</div>